{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}
{% block main %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container-fluid">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-md-6">
                    <div class="mb-3">
                      <label for="formFile" class="form-label">Clée RSA Privée</label>
                      <input class="form-control" type="file" id="formFile" name="pem_file">
                    </div>
                    <button type="submit" class="btn btn-primary" id="uploadButton">Envoyer</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}