{% extends 'base.html' %}
{% load static %}

{% block title %}Mon profil - {{ request.user }}{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5>Mon profil</h5>
                    </div>
                    <div class="card-body">
                        <p><strong>Nom d'utilisateur:</strong> {{ request.user }}</p>
                        <p><strong>UID:</strong> {{ uid }}</p>
                        <p><strong>Clé publique:</strong></p>
                        <pre>{{ publickey }}</pre>
                        <a href="{% url 'pub_download_pem' %}" class="btn btn-primary">Télécharger la clée publique</a>
                        <a href="{% url 'regen_key' %}" class="btn btn-danger" id="regen">Regénérer un paire de clée</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Généré à l'aide de ChatGPT 4o
        document.addEventListener('DOMContentLoaded', function() {
        const regenLink = document.querySelector('#regen');

        if (regenLink) {
            regenLink.addEventListener('click', function(event) {
                event.preventDefault();

                const userConfirmation = confirm("Voulez-vous vraiment régénérer une nouvelle paire de clés ?");

                if (userConfirmation) {
                    window.location.href = regenLink.href;
                } else {
                    console.log("L'utilisateur a annulé la régénération des clés.");
                }
            });
        }
        });
    </script>
{% endblock %}